@page
@model V4.Pages.NeedServiceListModel
@{
}

<h1>Cars that needs service asap</h1>

<table class="table table-info">

@foreach(var item in Model.l){
    <tr>
        <td>item</td>
    </tr>
}

</table>